<%- include('./partials/header.ejs') %>
    <%- include('./partials/styles.ejs') %>
        <%- include('./partials/nav.ejs') %>


            <div class="main-content">
                <div class="page-title">
                    <h1>Latest Posts</h1>
                    <p>Discover amazing stories from our community</p>
                </div>

                <div class="posts-container">
                    <!-- Post 1 -->
                    <% if (locals.allposts) { %>
                        <% allposts.forEach(post=> { %>
                            <div class="post-card">
                                <div class="post-image">
                                    <%= post.image %>
                                </div>
                                <div class="post-content">
                                    <div class="post-meta">
                                        <span class="post-author">
                                            <%= post.author %>
                                        </span>
                                    </div>
                                    <h2 class="post-title">
                                        <%= post.title %>
                                    </h2>
                                    <p class="post-excerpt">
                                        <%= post.content %>
                                    </p>
                                    <div class="post-footer">
                                    </div>
                                    <div class="post-actions" style="margin-top: 15px;">
                                        <a href="/posts/1" class="btn-read">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                                <% } %>
                </div>

                <%- include('partials/auth.ejs') %>

            </div>

            <%- include('./partials/footer.ejs') %>